@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Red+Rose:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

/* nav session*/

.nav-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

li{
  margin-left: 30px;
  color: #434343;
}

.nav-button button{
  background: #A02279;
  color: #fff;
  border: none;
  height: 48px;
  width: 170px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 10px;
  cursor: pointer;
}

/* main section*/

.main{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;

/* left session*/

}
.right-section{
  display: flex;
  
}
h1{
  margin:0;
}
.top-text{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  color: #434343;
  letter-spacing: -0.02em;
}
.text-container{
  margin-top: 60px;
  margin-bottom: 40px;
}

.text-container p{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
}

span{
  color: #A02279;
  font-weight: 700;
}

.search-button{
  box-sizing: border-box;
}

.search-button input{
  height: 54px;
  width: 390px;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
  padding-left: 10px;

}

.search-button button{
  height: 54px;
  width: 230px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  background: #A02279;
  border: none;
  border-radius: 0px 8px 8px 0px;
  margin-left: -4px;
}
 ::placeholder{
  color: #B8B8B8;
}

/*main footer section*/

.mainfooter-container{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  background: #A02279;
  padding: 10px 100px 10px 100px;
  margin-bottom: 46px;
  
}

.mainfooter-container h2{
  color: #fff;
}


/*right section of main*/
.box1, .box2, .box3, .box4{
  width: 234px;
  height: 176px;
  border: none;
  border-radius: 15px;
}

.wrap-1{
  margin-top: 86px;
}
.wrap-2{
  margin-left: 6px;
}

/* seconde page sytling*/

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
}

.grid-container .grid-section{
  border: 1px solid gray;
  width: 292px;
  height: 372px;
  border-radius: 15px;
}

.secondpage-header{
  margin-bottom: 40px;
}
.secondpage-header h1{
  text-align: center;
}

.grid-image{
  width: 200;
  height: 265px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 12px;
}

.grid-image-footer{
  margin-left: 8px;
  margin-right: 8px;
}

.desert-king{
  display: flex;
  justify-content: space-between;
}

.desert-king p{
  font-size: 12px;
  color: #434343;
  margin-bottom: 6px;
}


/*third page.jsx*/

.thirdpage-container{
  background: #A02279;
  padding-bottom: 200px;
}

.thirdpage-header{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.thirdpage-left h1{
  margin-top: 100px;
  color: #fff;
  margin-bottom: 20px;
}
  
.thirdpage-left p{
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 80px;
}

.thirdpage-left button{
  height: 48px;
  width: 156px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #A02279;
  background: #fff;
  border: none;
  border-radius: 8px;
}

.thirdpage-right{
  display: flex;
  
}

.thirdpage-right div{
  border: 1px solid gray;
  width: 378px;
  height: 254px;
  margin-top: 120px;
}
