@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Red+Rose:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

/* nav session*/

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

li {
  margin-left: 30px;
  color: #434343;
}

Link{
  text-decoration: none;
}

.nav-button button {
  background: #a02279;
  color: #fff;
  border: none;
  height: 48px;
  width: 170px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 10px;
  cursor: pointer;
}

/* main section*/

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 20px;

  /* left session*/
}
.right-section {
  display: flex;
}
h1 {
  margin: 0;
}
.top-text {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  color: #434343;
  letter-spacing: -0.02em;
}
.text-container {
  margin-top: 60px;
  margin-bottom: 40px;
}

.text-container p {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
}

span {
  color: #a02279;
  font-weight: 700;
}

.search-button {
  box-sizing: border-box;
}

.search-button input {
  height: 54px;
  width: 390px;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  padding-left: 10px;
}

.search-button button {
  height: 54px;
  width: 230px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  background: #a02279;
  border: none;
  border-radius: 0px 8px 8px 0px;
  margin-left: -4px;
}
::placeholder {
  color: #b8b8b8;
}

/*main footer section*/

.mainfooter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  background: #a02279;
  padding: 10px 100px 10px 100px;
  margin-bottom: 46px;
}

.mainfooter-container h2 {
  color: #fff;
}

/*right section of main*/
.box1,
.box2,
.box3,
.box4 {
  width: 234px;
  height: 176px;
  border: none;
  border-radius: 15px;
}

.wrap-1 {
  margin-top: 86px;
}
.wrap-2 {
  margin-left: 6px;
}

/* seconde page sytling*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.grid-container .grid-section {
  border: 1px solid gray;
  width: 292px;
  height: 372px;
  border-radius: 15px;
}

.secondpage-header {
  margin-bottom: 40px;
}
.secondpage-header h1 {
  text-align: center;
}

.grid-image {
  width: 200;
  height: 265px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 12px;
}

.grid-image-footer {
  margin-left: 8px;
  margin-right: 8px;
}

.desert-king {
  display: flex;
  justify-content: space-between;
}

.desert-king p {
  font-size: 12px;
  color: #434343;
  margin-bottom: 6px;
}

/*third page.jsx*/

.thirdpage-container {
  background: #a02279;
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 200px;
}

.thirdpage-header {
  display: flex;
  justify-content: space-between;
}

.thirdpage-left h1 {
  margin-top: 160px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
}

.thirdpage-left p {
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 80px;
}

.thirdpage-left button {
  height: 48px;
  width: 156px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #a02279;
  background: #fff;
  border: none;
  border-radius: 8px;
}

.thirdpage-right {
  margin-top: 60px;
}

.thirdpage-right img {
  width: 600px;
}

/*footer*/

.footer-container {
  display: flex;
  justify-content: space-between;
  background: #1d1d1e;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}

.footer-line1{
  display: flex;
  flex-direction: column;
}
.icon{
  margin-top: 110px;
}

.icon img{
  margin-left:6px;
}

.copyright{
  color: #f1f3f9;
  margin-top: 120px;
}

.footer-line2 p {
  color: #f1f3f9;
  line-height: 35px;
  font-size: 14px;
}

.footer-line3 p {
  color: #f1f3f9;
  line-height: 35px;
  font-size: 14px;
}

.footer-line4 p {
  color: #f1f3f9;
  line-height: 35px;
  font-size: 14px;
}

.footer-line2 h3 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.footer-line3 h3 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.footer-line4 h3 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}


/*modal styling*/


.modal-container{
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
  z-index: 999;
  position: fixed;
  top: 5%;
  left: 25%;
  background-color: #fff;
}

.modal-heading{
  border-bottom: 1px solid #CFD8DC;
  padding: 20px;
  display: flex;
}

.modal-heading h3{
  color: #333333;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-heading p{
  margin-top: 6px;
  margin-left: 280px;
  font-size: 18px;
  font-weight: 500;
}

.modal-subheading{
  padding: 20px;
}

.modal-subheading p{
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.metamask{
  background: #F8F9FA;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  
}

.metamask-text{
  margin-top: 10px;
  margin-left: 10px;
}

.wallet{
  background: #F8F9FA;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  
}
 
.wallet-text{
  margin-top: 10px;
  margin-left: 10px;
}

.angle{
  color:#959DA6;
  margin-top: 14px;
  margin-left: 220px;
}

.angle2{
  color:#959DA6;
  margin-top: 14px;
  margin-left: 184px;
}

.sub-nav{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 30px;
}

.sub-nav li{
  list-style-type: none;
  margin-left: 30px;
  color: #434343;
  margin-right: 30px;
}
.sub-nav-list{
  display: flex;
  margin-left: 30px;
}

.location{
  margin-right: 30px;
}



